/* Grid */

.grid-container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(4, 1fr) 50px;
    position: relative;
    z-index: 1;
}

main {
    grid-column: span 12;
    grid-row: 1 / span 4;
}

footer {
    grid-column: span 12;
    grid-row: 5 / 6;
}

section.warning {
    justify-items: center;
    align-content: center;
    text-align: center;
    grid-column: 4 / span 6;
    grid-row: 2 / 4;
}

@media only screen and (max-width: 600px) {
    /* Style adjustments for viewports that meet the condition */
    .grid-container {
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(4, 1fr) 50px;
    }

    main {
        grid-column: 1 / span 6;
        grid-row: 1 / span 3;
    }

    main h2 {
        display: none;
    }
}
