@import url('https://fonts.googleapis.com/css?family=Inconsolata');
* {
  font-family: 'Inconsolata', monospace;
}
html {
  height: 100%;
}
body {
  height: 100%;
  width: 200%;
  font-size: 18px;
}
body h1,
body h2,
body h3 {
  margin: 10px 0;
}
.hidden {
  display: none;
}
.asideTrigger {
  cursor: pointer;
}
.showAside aside {
  left: 0;
}
aside {
  position: fixed;
  top: 0;
  max-width: 350px;
  left: -425px;
  -webkit-transition: left 400ms ease-in-out;
  transition: left 400ms ease-in-out;
  padding: 50px 35px 0;
  color: black;
  border-right: 5px solid black;
  background-color: white;
  height: 100%;
  z-index: 101;
}
aside > img {
  height: auto;
  max-width: 100%;
  display: block;
  margin: 0 auto 15%;
  border-radius: 50%;
}
aside ul {
  list-style: circle;
}
aside h1 {
  text-align: center;
}
aside h2 {
  font-size: 2em;
}
aside .job-position {
  text-align: center;
  font-size: 1.2em;
  margin: 10px 0;
}
aside .about-me {
  margin: 20px 0 10px;
  text-align: center;
}
aside .about-me a,
aside .about-me a:visited {
  color: dodgerblue;
  text-decoration: none;
}
aside .hider {
  position: absolute;
}
.centering {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 1 0;
  flex: 1 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap;
  text-align: left;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
main ul {
  list-style: decimal-leading-zero;
}
main .skills,
main .works {
  padding: 50px;
}
main .works dl {
  display: block;
  position: relative;
  width: 715px;
  padding: 10px 0;
  margin-bottom: 70px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  text-align: center;
  text-transform: uppercase;
  word-spacing: -7px;
  letter-spacing: 0.5px;
}
main .works dl dt {
  display: inline-block;
  margin-left: 10px;
  margin-right: 3px;
}
main .works dl dd {
  display: inline-block;
  margin-left: 0;
  font-weight: bold;
  margin-right: 10px;
}
main .works .browser {
  height: 511px;
  width: 715px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
main .works .browser .logotype {
  position: absolute;
}
.fixed-bar {
  z-index: 100;
  position: fixed;
  left: 0;
  right: 0;
}
header ul,
footer ul {
  margin: 0;
  padding: 0;
  list-style: none;
  line-height: 50px;
  text-align: center;
}
header ul li,
footer ul li {
  display: inline-block;
}
header ul li:last-child,
footer ul li:last-child {
  margin: 0;
}
header a,
footer a,
header a:link,
footer a:link,
header a:visited,
footer a:visited,
header button,
footer button {
  line-height: 24px;
  text-decoration: none;
  color: black;
  opacity: 0.3;
  -webkit-transition: opacity 150ms ease;
  transition: opacity 150ms ease;
}
header a:hover,
footer a:hover,
header a:link:hover,
footer a:link:hover,
header a:visited:hover,
footer a:visited:hover,
header button:hover,
footer button:hover {
  opacity: 1;
}
header a .fa,
footer a .fa,
header a:link .fa,
footer a:link .fa,
header a:visited .fa,
footer a:visited .fa,
header button .fa,
footer button .fa {
  margin-right: 7px;
  vertical-align: middle;
}
.fixed-top {
  top: 0;
}
.fixed-bottom {
  bottom: 0;
}
header {
  background-color: white;
  line-height: 100px;
  z-index: 1;
}
header nav ul button {
  background: none;
  border: none;
}
header nav ul li {
  margin-right: 25px;
}
header nav .current {
  opacity: 1;
  color: #555;
  font-weight: bold;
}
footer {
  bottom: 0;
  background-color: #EEEEEE;
}
.double-slashes {
  font-size: 24px;
  text-align: center;
  color: black;
}
.add {
  color: #CCCCCC;
}
@media only screen and (max-width: 600px) {
  html {
    height: auto;
    overflow: auto;
  }
  body {
    height: auto;
    width: auto;
    max-width: 100%;
    font-size: 18px;
  }
  body h1,
  body h2,
  body h3 {
    margin: 10px 0;
  }
  .grid-container {
    height: auto;
    display: block;
    grid-template-columns: none;
    grid-template-rows: none;
    position: relative;
    z-index: 1;
  }
  aside,
  main {
    width: auto;
    margin: 0 auto;
    padding: 20px 25px;
    max-width: 100%;
  }
  .fixed-bar {
    position: relative;
    padding: 10px;
  }
  .fixed-top {
    z-index: 1000;
  }
  aside {
    position: relative;
    left: auto;
    -webkit-transition: none;
    transition: none;
    color: #000;
    border-right: 0;
    background-color: #fff;
    height: auto;
    z-index: auto;
  }
}
