@import url('https://fonts.googleapis.com/css?family=Inconsolata');

@gray: #eee;

* {
    font-family: 'Inconsolata', monospace;
}

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    width: 200%;
    font-size: 18px;
    h1,
    h2,
    h3 {
        margin: 10px 0;
    }
}

.hidden {
    display: none;
}

.asideTrigger {
    cursor: pointer;
}

.showAside aside {
    left: 0;
}

.grid-container {
}

@aside-width: 350px;
@aside-padding-horizontal: 35px;
@aside-border: 5px;

aside {
    position: absolute;
    max-width: 350px;
    left: -(@aside-border + @aside-padding-horizontal * 2 + @aside-width);
    transition: left 300ms ease;
    padding: 100px 35px 0;
    color: #000;
    border-right: 5px solid #000;
    background-color: #fff;
    height: 100%;
    z-index: 101;
    & > img {
        display: block;
        margin: 0 auto 50px;
        border-radius: 50%;
    }
    ul {
        list-style: circle
    }
    h1 {
        text-align: center;
    }
    h2 {
        font-size: 2em;
    }
    .job-position {
        text-align: center;
        font-size: 22px;
        margin: 10px 0;
    }
    .about-me {
        margin: 20px 0 10px;
        text-align: center;
        a,
        a:visited {
            color: dodgerblue;
            text-decoration: none;
        }
    }
    .hider {
        position: absolute;
    }
}

.centering {
    display: flex;
    flex: 1 0;
    flex-flow: column nowrap;
    text-align: left;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

@data-margin: 10px;
main {
    ul {
        list-style: decimal-leading-zero;
    }
    .skills, .works {
        padding: 50px;
    }
    .skills {

    }
    .works {
        dl {
            display: block;
            position: relative;

            width: 715px;

            padding: 10px 0;
            margin-bottom: 70px;

            border-top: 2px solid black;
            border-bottom: 2px solid black;

            text-align: center;
            text-transform: uppercase;
            word-spacing: -7px;
            letter-spacing: 0.5px;

            dt {
                display: inline-block;
                margin-left: @data-margin;
                margin-right: 3px;
            }
            dd {
                display: inline-block;
                margin-left: 0;
                font-weight: bold;
                margin-right: @data-margin;
            }
        }
        .browser {
            height: 511px;
            width: 715px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            .logotype {
                position: absolute;
            }
        }
    }
}

.fixed-bar {
    z-index: 100;
    position: fixed;
    left: 0;
    right: 0;
}

header, footer {
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: 50px;
        text-align: center;
        li {
            display: inline-block;
            &:last-child {
                margin: 0;
            }
        }
    }
    a,
    a:visited {
        line-height: 24px;
        text-decoration: none;
        color: black;
        opacity: 0.3;
        transition: opacity 150ms ease;
        &:hover {
            opacity: 1;
        }

        .fa {
            margin-right: 7px;
            vertical-align: middle;
        }
    }
}

.fixed-top {
    top: 0;
}

.fixed-bottom {
    bottom: 0;
}

header {
    background-color: white;
    line-height: 100px;
    z-index: 1;
    nav {
        ul li {
            margin-right: 25px;
        }
        .current {
            opacity: 1;
            color: #555;
            font-weight: bold;
        }
    }
}

footer {
    bottom: 0;
    background-color: @gray;
}

.double-slashes {
    font-size: 24px;
    text-align: center;
    color: black;
}

.add {
    color: #ccc;
}

@media only screen and (max-width: 600px) {
    html {
        height: auto;
        overflow: auto;
    }

    body {
        height: auto;
        width: auto;
        max-width: 100%;
        font-size: 18px;
        h1,
        h2,
        h3 {
            margin: 10px 0;
        }
    }

    .grid-container {
        height: auto;
        display: block;
        grid-template-columns: none;
        grid-template-rows: none;
        position: relative;
        z-index: 1;
    }

    aside, main {
        width: auto;
        margin: 0 auto;
        padding: 20px 25px;
        max-width: 100%;
    }
    .fixed-bar {
        position: relative;
        padding: 10px;
    }

    .fixed-top {
        z-index: 1000;
    }

    aside {
        position: relative;
        left: auto;
        transition: none;
        color: #000;
        border-right: 0;
        background-color: #fff;
        height: auto;
        z-index: auto;
    }
}
